HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Environment ###
.env
*.env

### Logs ###
*.log
logs/

### OS ###
.DS_Store
Thumbs.db

test-docs/
test-docs-long/
dump/
tools/node_modules/
tools/package.json
tools/package-lock.json
ops-alinti.json
dump-alinti/
dump-az/
dump-az2/
dump-tr2/
dump-son/
dump-fin/
dump-det/
dump-zor/
dump-tek/
dump-tip/
dump-son2/
dump-bir/
dump-final/
dump-final-tr/
ops-tur.json
dump-turdil/
ops-dil.json
dump-cipa/
dump-tr4/
dump-ocr/
dump-tr6/
dump-uc/
dump-zorson/
dump-geri/